// -----------------------------------------------------------------------------
// This file contains styles that are specific to the login page.
// -----------------------------------------------------------------------------



.profile-text{
	font-family: $text-font-stack;
	font-size: $t12;
	font-weight: $normal-font-weight;
	color: $semilight-grey-color;
	text-align: center;
}
.switch-container{
  	margin-top: 80px;
}

.btn.back{
	color:$grey-text-default-color;
}