
.video-conference{
	min-width: 1162px;
	max-width: 1440px;
	margin:0 auto;
	
}
.container-boxes{
	display: flex;
	align-items: stretch;
	width:100%;
	.box-1{
		flex:1;
		min-width:30%;
	}
	.box-2{
		flex:1;
		min-width:50%;
	}
	.box-3{
		flex: 0;
		min-width:0%;
		&.open{
		flex:1;
		min-width:20%;
		@include transition(all,.2s,ease-in-out);
		}
	}
}


.modal-dialog.md-modal {
    max-width: 80%;
}	
img.thumb{
	width:100%;
	height:auto;
}

