.input-file{
	width: 100%;
	display: flex;
	background: $white-color;

	
	&.bordered{
		border:1px solid $semilight-grey-color;
	}

	.file-btn{

		position: relative;
		width: 100%;
    	height: 32px;

		div.file-input-title{
			position: absolute;
	        right: 0px;
		    top: 0px;
		    background: $white-color;
		    padding: 8px;
		    text-transform: capitalize;
    		font-weight: normal;
    		font-size: 12px;
		}
		span.file-uploaded{
			position: absolute;
	        left: 0px;
		    top: 45px;
		    background:transparent;
		    padding: 9px;
		    overflow: hidden;
    		max-width: 75%;
    		font-size: 10px;
    		text-overflow: ellipsis;
		}
	}
}
.input-file-btn{
	width: 100%;
	display: flex;
	background: transparent;


	.file-btn{
		position: relative;
		width: 100%;
	}

	span.file-uploaded{
			position: absolute;
	        left: 0px;
		    top: 30px;
		    background:transparent;
		    padding: 9px;
		    overflow: hidden;
		    height: 20px;
		    font-size: 10px;
    		text-overflow: ellipsis;
		}
	//then you have to use btn styles for div.file-input-title to get the same appeareance
	.file-input-title.btn{
		padding: 0.9em 3.5em 0.9em 3.5em;
		margin:  $margin-0;
		font-weight: $normal-font-weight;
		border:1px solid $semilight-grey-color;
		letter-spacing: $letter-spacing-half;
		background: $white-color;

		&.focus,
		&:focus,
		&:hover{
			
			background: $brand-color;
			color: $white-color;
			@include transition(all,0.5s,ease-in-out);
		}
	}

}