/* The container-radio */
.container-radio {
  display: block;
  position: relative;
  padding-left: $radio-padding;
  margin-bottom: $radio-margin;
  cursor: pointer;
  font-size: $t14;
  user-select: none;
}

/* Hide the browser's default radio */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}



//RADIO BUTON STYLES

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: $radio-height;
  width: $radio-width;
  background-color: $radio-bg-color;
  border: 1px solid $radio-border-color;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: $radio-active-color;
  @include btn-border-radius(2px);
  @include transition(all,0.3s,ease-in-out);
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: $radio-active-color;
  border: 1px solid $radio-active-color;
  @include btn-border-radius(2px);
  @include transition(all,0.3s,ease-in-out);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $white-color;
}